<section id="achievements" class="achievementsSection">
  <header class="achievementsIntro">
    <p class="achievementsLabel">RECOGNITION</p>
    <h1 class="achievementsTitle">Achievements &amp; <span class="milestoneAccent">milestones</span></h1>
  </header>

  <div class="achievementsGrid">
    @for (item of achievements; track item.organization) {
      @if (item.link) {
        <a class="achievementCard achievementCardLink" [href]="item.link" target="_blank" rel="noopener noreferrer">
          <div class="achievementMedia">
            <span class="achievementBadge">{{ item.category }}</span>
            <span class="achievementIconWrap">
              @if (item.badgeImageSrc) {
                <img
                  class="achievementBadgeImage"
                  [ngSrc]="item.badgeImageSrc"
                  [alt]="item.badgeImageAlt || item.organization"
                  width="200"
                  height="200"
                />
              } @else {
                <icon [name]="item.icon" [size]="72" />
              }
            </span>
          </div>

          <div class="achievementContent">
            <div class="achievementTopRow">
              <p class="achievementYear">{{ item.year }}</p>
            </div>

            <h2 class="achievementOrg">{{ item.organization }}</h2>
            <p class="achievementDesc">{{ item.description }}</p>
          </div>
        </a>
      } @else {
        <article class="achievementCard">
          <div class="achievementMedia">
            <span class="achievementBadge">{{ item.category }}</span>
            <span class="achievementIconWrap">
              @if (item.badgeImageSrc) {
                <img
                  class="achievementBadgeImage"
                  [ngSrc]="item.badgeImageSrc"
                  [alt]="item.badgeImageAlt || item.organization"
                  width="200"
                  height="200"
                />
              } @else {
                <icon [name]="item.icon" [size]="72" />
              }
            </span>
          </div>

          <div class="achievementContent">
            <div class="achievementTopRow">
              <p class="achievementYear">{{ item.year }}</p>
            </div>

            <h2 class="achievementOrg">{{ item.organization }}</h2>
            <p class="achievementDesc">{{ item.description }}</p>
          </div>
        </article>
      }
    }
  </div>
</section>
